.banner {
  position: relative;
  h1 {
    width: 23.5rem;
    font-size: 24px;
    font-weight: 500;
    color: $color-white;
    padding-left: 1.6rem;
    @include tablet {
      width: unset;
      padding-left: 0;
    }
    @include tablet {
      font-size: 36px;
    }
    @include desktop {
      font-size: 48px;
    }
  }
  .imgContainer {
    overflow: hidden;
    border-radius: 10px;
    @include flexbox-center;
    mix-blend-mode: darken;
    background-color: $color-black;
    margin-bottom: $mrgn-mbl;
    @include tablet {
      height: 223px;
      margin-bottom: 43px;
    }
    img {
      object-fit: cover;
      width: 100%;
      opacity: 0.7;
    }
  }
  .heading-container {
    height: 111px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @include tablet {
      height: 223px;
      justify-content: center;
    }
  }
}
