.dwelling {
  @include margin-page;
  @include desktop {
    @include margin-desktop;
  }
  &__dropdowns {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
    .dropdown {
      @include desktop {
        margin-bottom: $mrgn-dsktp-s;
        width: calc(50% - $mrgn-dsktp-s/2);
      }
      .content {
        @include desktop {
          height: 100%;
        }
      }
    }
  }
}

.arrow {
  width: 100%;
  height: 100%;
  fill: white;
}
