:root {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  @include tablet-s {
    font-size: 13px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include desktop-s {
    font-size: 10px;
  }
  @include desktop {
    font-size: 18px;
  }
}

body {
  font-size: 1.2rem;
  @include desktop-s {
    font-size: 1.5rem;
  }
  @include desktop {
    font-size: 1.2rem;
  }
  @include desktop-l {
    max-width: 1440px;
    margin: auto;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
