:root {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  @include tablet {
    font-size: 18px;
  }
}

body {
  // font-size: 1.2em;
  // @include desktop {
  //   font-size: 1.5rem;
  // }
  // @include desktop {
  //   font-size: 1.2rem;
  // }
  @include desktop {
    min-width: 1024px;
    max-width: 1240px;
    margin: auto;
  }
  // @include desktop-l {
  //   max-width: 1440px;
    
  // }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
